<footer class="fixed-bottom bg-light">
    <div class="container">
      <div class="row">
        <div class="col-3 text-center">
          <a routerLink="/vacation-balance" class="btn btn-offwhite">
            <i class="fas fa-user"></i>
        </a>
        </div>
        <div class="col-3 text-center">
          <a routerLink="/home" class="btn btn-offwhite">
            <i class="fas fa-home"></i>
          </a>
        </div>
        <div class="col-3 text-center">
          <a routerLink="/time-off-request" class="btn btn-offwhite">
            <i class="fas fa-calendar-plus"></i>
          </a>
        </div>
        <div class="col-3 text-center">
          <a routerLink="/signup" class="btn btn-offwhite">
            <i class="fas fa-sign-out-alt"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>
  