<!-- Google Calendar -->
<div class="calendar-embed">
    <iframe class="embed-responsive-item" src="https://calendar.google.com/calendar/embed" style="border: 0" width="600" height="300" frameborder="0" scrolling="yes"></iframe>
</div>

  
  <!-- Table -->
  <div class="container mt-3">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="text-left">Description</th>
            <th class="text-right">Count</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-left">Vacation days taken</td>
            <td class="text-right">{{ daysTaken }}</td>
          </tr>
          <tr>
            <td class="text-left">Total Vacation Days</td>
            <td class="text-right">{{ totalVacationDays }}</td>
          </tr>
          <tr>
            <td class="text-left">Remaining</td>
            <td class="text-right">{{ remainingDays }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  